@import 'includes/mixins'
@import 'includes/support'
@import 'includes/layout'
@import 'includes/typography'
@import 'icons'

.block
  margin-top: 30px
  padding-top: 30px
  border-top: 3px dashed #ccc
  clearfix()
  > .header
    font-size: 1.2em
    font-weight: bold
    width: 200px
    float: left
  > .content
    float: left
    width: $content-width - 200px

#skills
  .skill
    panel()
    ul
      clearfix()
      list-style: none
      padding: 0
      margin: -5px 0
      li
        float: left
        border: 1px solid #9ad
        padding: 0 15px
        line-height: 28px
        margin: 5px 0
        margin-right: 10px
        border-radius(14px)

#companies
  .company
    panel()
    .header
      line-height: 1.5em
      .title
        width: 250px
      .position
        color: #333
        font-size: 0.8em
        font-weight: bold
      .period
        font-size: 0.7em
        .total
          margin-right: 10px
          color: #aaa
    .content ul
      custom-list()
