.left {
  float: left;
}
.right {
  float: right;
}
.clear {
  clear: both;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
body {
  width: 900px;
  margin: 0 auto;
  font-family: "Open Sans", "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
  line-height: 1.5;
}
#wrapper {
  padding: 0 20px;
}
#header {
  padding-top: 10px;
}
#header .name {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 10px;
}
#header .profession {
  font-size: 1.2em;
}
#header .details {
  text-align: right;
}
#header .details .social a {
  font-size: 32px;
  margin-left: 10px;
  float: right;
}
#footer {
  height: 50px;
}
body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
p {
  margin: 0;
  margin-bottom: 10px;
}
ul {
  margin: 0;
}
a {
  color: #09d;
  text-decoration: none;
}
a:hover {
  color: #0bf;
}
@font-face {
  font-family: 'Icofont';
  src: url("icofont.eot");
  src: url("icofont.eot?#iefix") format('embedded-opentype'), url("icofont.woff") format('woff'), url("icofont.ttf") format('truetype'), url("icofont.svg#icofont") format('svg');
}
.icon {
  display: inline-block;
  font-family: Icofont;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon.icon-github:before {
  content: '\e001';
}
.icon.icon-linkedin:before {
  content: '\e002';
}
.block {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 3px dashed #ccc;
}
.block:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.block > .header {
  font-size: 1.2em;
  font-weight: bold;
  width: 200px;
  float: left;
}
.block > .content {
  float: left;
  width: 660px;
}
#skills .skill {
  border: 1px solid #ddd;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -webkit-border-radius: 4px;
  overflow: hidden;
  margin-bottom: 20px;
}
#skills .skill > .header {
  background: #f5f5f5;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
#skills .skill > .content {
  padding: 10px;
}
#skills .skill ul {
  list-style: none;
  padding: 0;
  margin: -5px 0;
}
#skills .skill ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#skills .skill ul li {
  float: left;
  border: 1px solid #9ad;
  padding: 0 15px;
  line-height: 28px;
  margin: 5px 0;
  margin-right: 10px;
  border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -webkit-border-radius: 14px;
}
#companies .company {
  border: 1px solid #ddd;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -webkit-border-radius: 4px;
  overflow: hidden;
  margin-bottom: 20px;
}
#companies .company > .header {
  background: #f5f5f5;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
#companies .company > .content {
  padding: 10px;
}
#companies .company .header {
  line-height: 1.5em;
}
#companies .company .header .title {
  width: 250px;
}
#companies .company .header .position {
  color: #333;
  font-size: 0.8em;
  font-weight: bold;
}
#companies .company .header .period {
  font-size: 0.7em;
}
#companies .company .header .period .total {
  margin-right: 10px;
  color: #aaa;
}
#companies .company .content ul {
  list-style: none;
  padding-left: 20px;
}
#companies .company .content ul > li:before {
  content: '•';
  display: block;
  float: left;
  margin-left: -15px;
}
#companies .company .content ul ul li:before {
  content: '-';
}
