body
  margin: 0
  font-family: "Open Sans", "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif
  line-height: 1.5

#wrapper
  max-width: 1000px
  margin: 0 auto
  padding: 10px

  @media (min-width: 900px)
    padding: 20px 50px
