!!!
%html
  %head
    %title Sergey Varaksin - #{@data['profession']}
    %link{rel: :stylesheet, type: 'text/css', href: 'assets/compiled/app.css'}
    %link{rel: :stylesheet, type: 'text/css', href: 'http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Open+Sans:300italic,400,300,700'}

    %script{type: 'text/javascript', src: 'assets/compiled/vendor.js'}
    %script{type: 'text/javascript', src: 'assets/compiled/app.js'}
    :javascript
      App.data = #{@data.to_json}
  %body
    #wrapper
