#header.clearfix
  .left
    p.name
      = data.name
    p.position
      = data.position
    p.location
      = data.location
  .details.right
    p.email
      a(href="mailto:#{data.email}")
        = data.email
    p.phone
      phone= data.phone
    p.social
      a(target="_blank" href=data.linkedin title="Linkedin")
        span.icon.icon-linkedin
      a(target="_blank" href=data.github title="Github")
        span.icon.icon-github

#content
  .block
    .header Summary
    .content
      != h.markdown(data.summary)

  #skills.block
    .header Skills
    .content

  #companies.block
    .header Work Experience
    .content

  .block
    .header Education
    .content
      != h.markdown(data.education)
